
.containerDetail{ 
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.3%);
    border-radius: 10px;
    margin: 5px;
    background-color: rgba(32, 33, 33, 0.453);
    backdrop-filter: blur(10px);
    max-height: 300px;
    font-family: helvetica, arial, sans-serif;
}
.containerDetail:hover{
    cursor: pointer;
    filter: opacity(65%)
}
.div2 { 
    grid-area: 1 / 1 / 4 / 4; 
    text-align: center;
    
    
}
.div2 h1, h3{ 
    text-align: center;
    color:rgb(255, 255, 255);
    
    
    
}
img{
    max-height: 170px;
    
    
}


