
h1{
    color: #fff;
}
.container {
    display: grid;
    text-align: center;
}
    
.div1 { 
    grid-area: 1 / 1 / 1 / 4; 
    margin-bottom:5%;
} 
.left {
    float: left;
    margin-left: 10px;
    
}
select{
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 7px;
    border:none;
    color: #fff;
}
select:hover{
    color:rgba(0, 0, 0, 0.795);
    cursor: pointer;
}
option{
    background: rgba(0, 0, 0, 0.603);
    color: #fff;
}
.center {
    margin: 0 auto;
    display: inline-block;
  }
.center2{
    float: right;
}
.right {
    float: right;
    margin-right: 10px;
  }
.form{ 
    width: 100%;
}
label{
    color:#fff;
}
.btn{
    background-color:rgba(255, 255, 255, 0.116);
    border-radius: 8px;
    border:none;
    color:rgba(255, 255, 255);
    margin-left: 3px;
    font-size: 13px;
    padding:5px;
}
.btn:hover{
    cursor: pointer;
}
.search{
    background-color:rgba(255, 255, 255, 0.116);
    border-radius: 8px;
    border:none;
    padding:5px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.buttonActivity{
    background-color:rgba(255, 255, 255, 0.116);
    border-radius: 8px;
    border:none;
    font-size: 17px;
    color:rgba(255, 255, 255);
    float:right;
    margin-top: -17%;
    margin-right: 10px;
}
.buttonActivity:hover{
    cursor: pointer;
    background-color: #1b3c49
}

    