body{
    background-image: url(./night.jpg);
    background-size: cover;
}
h1{
    color: #fff;
}
.container {
    display: grid;
    text-align: center;
}
    
.div1 { 
    grid-area: 1 / 1 / 1 / 4; 
   
    margin-bottom:5%;
} 
.left {
    float: left;
    
  }
.center {
    margin: 0 auto;
    display: inline-block;
  }
.right {
    float: right;
  }
.form{ 
    width: 100%;
}
label{
    color:#fff;
}
    