.activitiesContainer {
  text-align: center;
  position: center;
}
.divcont {
  border-radius: 10px;
  line-height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40%;
  height: 85%;
  margin: auto;
  background-color: rgba(32, 33, 33, 0.453);
  backdrop-filter: blur(10px);
  padding: 40px;
  font-family: helvetica, arial, sans-serif;
}
.divcont input {
  background-color: rgba(255, 255, 255, 0.123);
  border: none;
  border-radius: 10px;
  font-size: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
}
.divcont select {
  font-size: 17px;
  text-align: center;
  margin-bottom: 5px;
}
.divcont button {
  background-color: rgba(2, 2, 2, 0.548);
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: 25px;
  width: 200px;
}
.divcont button:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
label {
  font-size: 17px;
}
.tittle {
  font-size: 25px;
  margin-left: 7%;
  color: rgb(255, 255, 255);
  font-family: helvetica, arial, sans-serif;
}
.divcont .back {
  font-size: 20px;
  background-color: red;
  width: 30px;
  height: 30px;
  float: right;
  margin: 0;
}
.divcont .back:hover {
  color: rgb(0, 0, 0);
}
.countryadd {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}
.addcountry p {
  color: white;
  margin: 1px;
}
#delete {
  font-size: 20px;
  background-color: rgb(255, 0, 0);
  width: 30px;
  height: 30px;
  margin: 0;
}
.actcar {
  background-color: rgba(255, 255, 255, 0.123);
  border-radius: 10px;
  padding: 15px;
  margin: 2px;
}
