.pagination ul{ 
    list-style-type: none;
    display: flex;
    float: left;
    width: 90%;
    background-color: rgba(32, 33, 33, 0.453);
    border-radius:10px;
    justify-content: center;
    margin-left: 55px;
    padding: 10px;
}
.pagination ul li{ 
    margin-left: 17px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
}
.pagination ul li:hover{ 
    color: rgb(0, 0, 0);
}
.pagination ul li::selection{
    color: rgb(255, 0, 0);

}
.btnPage{
    background-color:transparent;
    border: none;
    color:white;
    font-size: 25px;
    margin:0 10px 5px 20px;
}
.btnPage:hover{
    cursor: pointer;
    color:black;
}
